# Sơ lược về dữ liệu thô.

In [1]:
%pip install pandas numpy

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.1.2)
Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.10/site-packages (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd

In [3]:
# Đọc file csv sau khi lưu, bao gồm 100 post.
raw_df = pd.read_csv('Data/hotwheels.csv')
len(raw_df)

100

In [4]:
# Dữ liệu thô.
raw_df

,post_id,text,post_text,shared_text,original_text,time,timestamp,image,image_lowquality,images,...,reaction_count,with,page_id,sharers,image_id,image_ids,video_ids,videos,was_live,fetched_time
0,663497495969085,Only ten cars remain but only one car will tak...,Only ten cars remain but only one car will tak...,NaN,NaN,2023-11-09 23:45:33,1699573533,https://scontent-sin6-1.xx.fbcdn.net/v/t39.308...,https://scontent-sin6-1.xx.fbcdn.net/v/t39.308...,['https://scontent-sin6-1.xx.fbcdn.net/v/t39.3...,...,2065,NaN,7645145806,NaN,NaN,[],[],[],False,2023-11-10 16:09:27.741750
1,662533809398787,"Challengers, let’s race full speed ahead this ...","Challengers, let’s race full speed ahead this ...",NaN,NaN,2023-11-08 06:00:47,1699423247,https://scontent-xsp1-2.xx.fbcdn.net/v/t39.308...,https://scontent-sin6-4.xx.fbcdn.net/v/t39.308...,['https://scontent-xsp1-2.xx.fbcdn.net/v/t39.3...,...,9,NaN,7645145806,NaN,NaN,[],[],[],False,2023-11-10 16:10:03.707430
2,662301126088722,Tune in this Saturday for the Hot Wheels Legen...,Tune in this Saturday for the Hot Wheels Legen...,NaN,NaN,2023-11-07 17:15:04,1699377304,https://scontent-sin6-4.xx.fbcdn.net/v/t39.308...,https://scontent-sin6-4.xx.fbcdn.net/v/t39.308...,['https://scontent-sin6-4.xx.fbcdn.net/v/t39.3...,...,282,NaN,7645145806,NaN,6.623011e+14,['662301106088724'],NaN,NaN,False,2023-11-10 16:10:09.017637
3,661756316143203,This Saturday marks the sixth Hot Wheels Legen...,This Saturday marks the sixth Hot Wheels Legen...,NaN,NaN,2023-11-06 17:27:08,1699291628,https://scontent-sin6-1.xx.fbcdn.net/v/t39.308...,https://scontent-sin6-1.xx.fbcdn.net/v/t39.308...,['https://scontent-sin6-1.xx.fbcdn.net/v/t39.3...,...,1670,NaN,7645145806,NaN,NaN,[],[],[],False,2023-11-10 16:10:52.307067
4,1276112246404579,Join us for the Semi-Finals of the Hot Wheels ...,Join us for the Semi-Finals of the Hot Wheels ...,NaN,NaN,2023-11-03 00:00:18,1698969618,NaN,https://scontent-sin6-3.xx.fbcdn.net/v/t15.525...,[],...,335,NaN,7645145806,NaN,NaN,[],NaN,NaN,True,2023-11-10 16:12:13.654651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,130770646693712,"SUN, SEP 11\nHot Wheels Monster Trucks Live!",NaN,"SUN, SEP 11\nHot Wheels Monster Trucks Live!",NaN,2023-07-19 21:30:06,1689802206,NaN,https://scontent-sin6-4.xx.fbcdn.net/v/t39.308...,[],...,19,"[{'name': 'event', 'link': '/events/1307706466...",7645145806,NaN,NaN,[],NaN,NaN,False,NaN
96,998235587977759,"SUN, SEP 4\nHot Wheels Monster Trucks Live!",NaN,"SUN, SEP 4\nHot Wheels Monster Trucks Live!",NaN,2023-07-19 21:19:33,1689801573,NaN,https://scontent-sin6-4.xx.fbcdn.net/v/t39.308...,[],...,20,"[{'name': 'event', 'link': '/events/9982355879...",7645145806,NaN,NaN,[],NaN,NaN,False,NaN
97,300656448999300,"SUN, SEP 4\nHot Wheels Monster Trucks Live!",NaN,"SUN, SEP 4\nHot Wheels Monster Trucks Live!",NaN,2023-07-19 21:08:47,1689800927,NaN,https://scontent-sin6-1.xx.fbcdn.net/v/t39.308...,[],...,32,"[{'name': 'event', 'link': '/events/3006564489...",7645145806,NaN,NaN,[],NaN,NaN,False,NaN
98,600244618961040,"Join Hot Wheels, NBC, Rutledge Wood and Dalal ...","Join Hot Wheels, NBC, Rutledge Wood and Dalal ...",NaN,NaN,2023-07-18 21:36:24,1689716184,https://scontent-sin6-3.xx.fbcdn.net/v/t39.308...,https://scontent-sin6-3.xx.fbcdn.net/v/t39.308...,['https://scontent-sin6-3.xx.fbcdn.net/v/t39.3...,...,1000,NaN,7645145806,NaN,NaN,[],[],[],False,NaN
99,599621192356716,"Meet 'Tootsie', a 1985 Mercedes-Benz 300D, who...","Meet 'Tootsie', a 1985 Mercedes-Benz 300D, who...",NaN,NaN,2023-07-17 18:00:08,1689616808,NaN,https://scontent-sin6-2.xx.fbcdn.net/v/t15.525...,[],...,1000,NaN,7645145806,NaN,NaN,[],NaN,NaN,False,NaN

In [5]:
# Thông tin về dữ liệu của dataframe khi chưa xử lý.
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   post_id                        100 non-null    int64
 1   text                           100 non-null    object
 2   post_text                      67 non-null     object
 3   shared_text                    33 non-null     object
 4   original_text                  0 non-null      float64
 5   time                           100 non-null    object
 6   timestamp                      100 non-null    int64
 7   image                          25 non-null     object
 8   image_lowquality               100 non-null    object
 9   images                         100 non-null    object
 10  images_description             100 non-null    object
 11  images_lowquality              100 non-null    object
 12  images_lowquality_description  100 non-null    object
 13  video                          45 non-null     object
 14  video_duration_seconds         0 non-null      float64
 15  video_height                   0 non-null      float64
 16  video_id                       45 non-null     float64
 17  video_quality                  0 non-null      float64
 18  video_size_MB                  0 non-null      float64
 19  video_thumbnail                45 non-null     object
 20  video_watches                  0 non-null      float64
 21  video_width                    0 non-null      float64
 22  likes                          100 non-null    int64
 23  comments                       100 non-null    int64
 24  shares                         100 non-null    int64
 25  post_url                       100 non-null    object
 26  link                           34 non-null     object
 27  links                          100 non-null    object
 28  user_id                        100 non-null    int64
 29  username                       100 non-null    object
 30  user_url                       100 non-null    object
 31  is_live                        100 non-null    bool
 32  factcheck                      0 non-null      float64
 33  shared_post_id                 0 non-null      float64
 34  shared_time                    0 non-null      float64
 35  shared_user_id                 0 non-null      float64
 36  shared_username                0 non-null      float64
 37  shared_post_url                0 non-null      float64
 38  available                      100 non-null    bool
 39  comments_full                  100 non-null    object
 40  reactors                       11 non-null     object
 41  w3_fb_url                      11 non-null     object
 42  reactions                      11 non-null     object
 43  reaction_count                 100 non-null    int64
 44  with                           31 non-null     object
 45  page_id                        100 non-null    int64
 46  sharers                        0 non-null      float64
 47  image_id                       3 non-null      float64
 48  image_ids                      100 non-null    object
 49  video_ids                      22 non-null     object
 50  videos                         22 non-null     object
 51  was_live                       100 non-null    bool
 52  fetched_time                   11 non-null     object
dtypes: bool(3), float64(16), int64(8), object(26)
memory usage: 39.5+ KB

Đây là tổng quan về các cột hiện có trong dữ liệu, có bao nhiêu giá trị non-null được ghi nhận và loại giá trị của cột đó.

## =================================================================================================================

## Loại bỏ các cột thừa, không sử dụng đến.

In [6]:
# Ta sẽ thao tác tiền xử lý và làm sạch trên dataframe pre_cleanse.
pre_cleanse = raw_df

In [7]:
pre_cleanse = pre_cleanse.drop_duplicates()
len(pre_cleanse)

100

Dataframe không có dữ liệu bị trùng lặp.

In [8]:
print(pre_cleanse[['post_text']])
print(pre_cleanse['post_text'].isnull().sum())

                                            post_text
0   Only ten cars remain but only one car will tak...
1   Challengers, let’s race full speed ahead this ...
2   Tune in this Saturday for the Hot Wheels Legen...
3   This Saturday marks the sixth Hot Wheels Legen...
4   Join us for the Semi-Finals of the Hot Wheels ...
..                                                ...
95                                                NaN
96                                                NaN
97                                                NaN
98  Join Hot Wheels, NBC, Rutledge Wood and Dalal ...
99  Meet 'Tootsie', a 1985 Mercedes-Benz 300D, who...

[100 rows x 1 columns]
33

In [9]:
print(pre_cleanse[['text']])
print(pre_cleanse['text'].isnull().sum())

                                                 text
0   Only ten cars remain but only one car will tak...
1   Challengers, let’s race full speed ahead this ...
2   Tune in this Saturday for the Hot Wheels Legen...
3   This Saturday marks the sixth Hot Wheels Legen...
4   Join us for the Semi-Finals of the Hot Wheels ...
..                                                ...
95       SUN, SEP 11\nHot Wheels Monster Trucks Live!
96        SUN, SEP 4\nHot Wheels Monster Trucks Live!
97        SUN, SEP 4\nHot Wheels Monster Trucks Live!
98  Join Hot Wheels, NBC, Rutledge Wood and Dalal ...
99  Meet 'Tootsie', a 1985 Mercedes-Benz 300D, who...

[100 rows x 1 columns]
0

Ở đây, ta nhận thấy hai cột post_text và text có giá trị như nhau (đều là nội dung bài đăng), nhưng cột text có đầy đủ dữ liệu hơn (post_text có chứa 33 giá trị NaN, mà text không có NaN). Ta tiến hành loại bỏ cột post_text.

In [10]:
pre_cleanse = pre_cleanse.drop(columns='post_text')

Tiếp tục xét đến các cột còn lại, những cột sau đây sẽ bị lược bỏ:
    Với lý do không cần thiết khi muốn biết về dữ liệu của fanpage đó:
        shared_text,
        original_text, 
        image, 
        image_lowquality, 
        images_lowquality, 
        images_lowquality_description, 
        video_duration_seconds, 
        video_height, 
        video_quality, 
        video_size_MB, 
        video_watches, 
        video_width, 
        likes, 
        link, 
        links, 
        user_url, 
        is_live, 
        factcheck, 
        shared_post_id, 
        shared_time, 
        shared_user_id, 
        shared_username, 
        shared_post_url, 
        reactors, 
        w3_fb_url, 
        with, 
        sharers, 
        image_id, 
        image_ids, 
        video_ids, 
        videos, 
        fetched_time. Tổng cộng đã lược bớt 32 cột không cần thiết.

In [11]:
pre_cleanse = pre_cleanse.drop(columns=['shared_text', 'original_text', 'image', 'image_lowquality', 'images_lowquality_description', 'video_duration_seconds', 'video_height', 'video_quality', 'video_size_MB', 'video_watches', 'video_width', 'likes', 'link', 'links', 'user_url', 'is_live', 'factcheck', 'shared_post_id', 'shared_time', 'shared_user_id', 'shared_username', 'shared_post_url', 'reactors', 'w3_fb_url', 'with', 'sharers', 'image_id', 'image_ids', 'video_ids', 'videos', 'fetched_time'])

In [12]:
pre_cleanse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   post_id             100 non-null    int64
 1   text                100 non-null    object
 2   time                100 non-null    object
 3   timestamp           100 non-null    int64
 4   images              100 non-null    object
 5   images_description  100 non-null    object
 6   images_lowquality   100 non-null    object
 7   video               45 non-null     object
 8   video_id            45 non-null     float64
 9   video_thumbnail     45 non-null     object
 10  comments            100 non-null    int64
 11  shares              100 non-null    int64
 12  post_url            100 non-null    object
 13  user_id             100 non-null    int64
 14  username            100 non-null    object
 15  available           100 non-null    bool
 16  comments_full       100 non-null    object
 17  reactions           11 non-null     object
 18  reaction_count      100 non-null    int64
 19  page_id             100 non-null    int64
 20  was_live            100 non-null    bool
dtypes: bool(2), float64(1), int64(7), object(11)
memory usage: 15.2+ KB

## ==================================================================================================================

## Xử lý dữ liệu thiếu, không tồn tại.

Như ta thấy sau khi chạy lệnh info() ở trên, có 4 cột video, video_id, video_thumbnail và reactions là không đạt 100/100 non-null, ta tiến hành xử lý.

In [13]:
pre_cleanse['video'] = pre_cleanse['video'].fillna("")

In [14]:
pre_cleanse['video_id'] = pre_cleanse['video_id'].fillna("")

In [15]:
pre_cleanse['video_thumbnail'] = pre_cleanse['video_thumbnail'].fillna("")

In [16]:
pre_cleanse['reactions'] = pre_cleanse['reactions'].fillna("")

In [17]:
pre_cleanse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   post_id             100 non-null    int64
 1   text                100 non-null    object
 2   time                100 non-null    object
 3   timestamp           100 non-null    int64
 4   images              100 non-null    object
 5   images_description  100 non-null    object
 6   images_lowquality   100 non-null    object
 7   video               100 non-null    object
 8   video_id            100 non-null    object
 9   video_thumbnail     100 non-null    object
 10  comments            100 non-null    int64
 11  shares              100 non-null    int64
 12  post_url            100 non-null    object
 13  user_id             100 non-null    int64
 14  username            100 non-null    object
 15  available           100 non-null    bool
 16  comments_full       100 non-null    object
 17  reactions           100 non-null    object
 18  reaction_count      100 non-null    int64
 19  page_id             100 non-null    int64
 20  was_live            100 non-null    bool
dtypes: bool(2), int64(7), object(12)
memory usage: 15.2+ KB

Dataframe đã được khử toàn bộ NaN, và lược bớt những cột không cần thiết nhằm giảm kích thước cũng như dung lượng bộ nhớ cần để lưu trữ dataframe.

## =================================================================================================================

## Lưu dữ liệu đã làm sạch thành file csv để bắt đầu phân tích.

In [27]:
pre_cleanse.to_csv("Data2/hotwheels_done.csv", index = False)

OSError: Cannot save file into a non-existent directory: 'Data2'

In [26]:
oh = pd.read_csv("Data/hotwheels_done.csv")
len(oh)

100