## Tải thư viện cần thiết.

In [4]:
%pip install matplotlib pandas numpy seaborn wordcloud

Requirement already satisfied: matplotlib in /home/codespace/.local/lib/python3.10/site-packages (3.8.0)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.10/site-packages (1.26.1)
Requirement already satisfied: seaborn in /home/codespace/.local/lib/python3.10/site-packages (0.13.0)
Requirement already satisfied: wordcloud in /usr/local/python/3.10.8/lib/python3.10/site-packages (1.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 23.3 -> 23.3.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

## Phân tích.

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
raw_df = pd.read_csv('Data/hotwheels.csv')
len(raw_df)

100

In [7]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   post_id                        100 non-null    int64
 1   text                           100 non-null    object
 2   post_text                      67 non-null     object
 3   shared_text                    33 non-null     object
 4   original_text                  0 non-null      float64
 5   time                           100 non-null    object
 6   timestamp                      100 non-null    int64
 7   image                          25 non-null     object
 8   image_lowquality               100 non-null    object
 9   images                         100 non-null    object
 10  images_description             100 non-null    object
 11  images_lowquality              100 non-null    object
 12  images_lowquality_description  100 non-null    object
 13  video                          45 non-null     object
 14  video_duration_seconds         0 non-null      float64
 15  video_height                   0 non-null      float64
 16  video_id                       45 non-null     float64
 17  video_quality                  0 non-null      float64
 18  video_size_MB                  0 non-null      float64
 19  video_thumbnail                45 non-null     object
 20  video_watches                  0 non-null      float64
 21  video_width                    0 non-null      float64
 22  likes                          100 non-null    int64
 23  comments                       100 non-null    int64
 24  shares                         100 non-null    int64
 25  post_url                       100 non-null    object
 26  link                           34 non-null     object
 27  links                          100 non-null    object
 28  user_id                        100 non-null    int64
 29  username                       100 non-null    object
 30  user_url                       100 non-null    object
 31  is_live                        100 non-null    bool
 32  factcheck                      0 non-null      float64
 33  shared_post_id                 0 non-null      float64
 34  shared_time                    0 non-null      float64
 35  shared_user_id                 0 non-null      float64
 36  shared_username                0 non-null      float64
 37  shared_post_url                0 non-null      float64
 38  available                      100 non-null    bool
 39  comments_full                  100 non-null    object
 40  reactors                       11 non-null     object
 41  w3_fb_url                      11 non-null     object
 42  reactions                      11 non-null     object
 43  reaction_count                 100 non-null    int64
 44  with                           31 non-null     object
 45  page_id                        100 non-null    int64
 46  sharers                        0 non-null      float64
 47  image_id                       3 non-null      float64
 48  image_ids                      100 non-null    object
 49  video_ids                      22 non-null     object
 50  videos                         22 non-null     object
 51  was_live                       100 non-null    bool
 52  fetched_time                   11 non-null     object
dtypes: bool(3), float64(16), int64(8), object(26)
memory usage: 39.5+ KB

In [8]:
first_row = raw_df.iloc[0]
reactions = dict(eval(first_row['reactions']))
reactions["shares"] = first_row['shares']
reactions["comments"] = first_row['comments']

In [9]:
reactions

{'like': 1367,
 'love': 661,
 'wow': 15,
 'care': 21,
 'angry': 1,
 'shares': 364,
 'comments': 210}

In [10]:
hehe = max(raw_df['reaction_count'])
x = raw_df[raw_df['reaction_count'] == hehe]
x

,post_id,text,post_text,shared_text,original_text,time,timestamp,image,image_lowquality,images,...,reaction_count,with,page_id,sharers,image_id,image_ids,video_ids,videos,was_live,fetched_time
45,636367022015466,Phoenix's creative garage spirit shines! 🏁🔥 Ch...,Phoenix's creative garage spirit shines! 🏁🔥 Ch...,NaN,NaN,2023-09-23 23:30:25,1695511825,NaN,https://scontent-xsp1-2.xx.fbcdn.net/v/t15.525...,[],...,9500,NaN,7645145806,NaN,NaN,[],NaN,NaN,False,NaN

In [16]:
y = raw_df[['post_id', 'text', 'reactions', 'reaction_count']]
y

,post_id,text,reactions,reaction_count
0,663497495969085,Only ten cars remain but only one car will tak...,"{'like': 1367, 'love': 661, 'wow': 15, 'care':...",2065
1,662533809398787,"Challengers, let’s race full speed ahead this ...",{'like': 9},9
2,662301126088722,Tune in this Saturday for the Hot Wheels Legen...,"{'like': 219, 'love': 58, 'wow': 1, 'care': 4}",282
3,661756316143203,This Saturday marks the sixth Hot Wheels Legen...,"{'like': 1133, 'love': 496, 'haha': 1, 'wow': ...",1670
4,1276112246404579,Join us for the Semi-Finals of the Hot Wheels ...,"{'like': 249, 'love': 81, 'haha': 1, 'wow': 2,...",335
...,...,...,...,...
95,130770646693712,"SUN, SEP 11\nHot Wheels Monster Trucks Live!",NaN,19
96,998235587977759,"SUN, SEP 4\nHot Wheels Monster Trucks Live!",NaN,20
97,300656448999300,"SUN, SEP 4\nHot Wheels Monster Trucks Live!",NaN,32
98,600244618961040,"Join Hot Wheels, NBC, Rutledge Wood and Dalal ...",NaN,1000
99,599621192356716,"Meet 'Tootsie', a 1985 Mercedes-Benz 300D, who...",NaN,1000

In [22]:
x = len(raw_df['reactions'])
for i in range(x):
    if pd.isna(raw_df['reactions'][i]):
        continue
    else:
        print(raw_df['reactions'][i])

{'like': 1367, 'love': 661, 'wow': 15, 'care': 21, 'angry': 1}
{'like': 9}
{'like': 219, 'love': 58, 'wow': 1, 'care': 4}
{'like': 1133, 'love': 496, 'haha': 1, 'wow': 14, 'care': 26}
{'like': 249, 'love': 81, 'haha': 1, 'wow': 2, 'care': 1, 'sad': 1}
{'like': 241, 'love': 146, 'haha': 22, 'wow': 5, 'care': 6, 'sad': 1, 'angry': 3}
{'like': 1021, 'love': 635, 'haha': 8, 'wow': 13, 'care': 19, 'sad': 1, 'angry': 1}
{'like': 717, 'love': 459, 'wow': 12, 'care': 17, 'sad': 1, 'angry': 1}
{'like': 187, 'love': 52, 'haha': 1, 'wow': 3, 'care': 1}
{'like': 329, 'love': 164, 'haha': 23, 'wow': 6, 'care': 7, 'sad': 1, 'angry': 1}
{'like': 173, 'love': 43, 'wow': 1, 'care': 2, 'angry': 1}